In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_df=pd.read_csv(r"C:\Users\Lenovo\Downloads\train.csv (1)\train.csv",parse_dates=["Crash Date/Time"])
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   51490 non-null  object
 1   Local Case Number               45037 non-null  object
 2   Agency Name                     51490 non-null  object
 3   ACRS Report Type                51490 non-null  object
 4   Crash Date/Time                 51490 non-null  datetime64[ns]
 5   Route Type                      46522 non-null  object
 6   Road Name                       46988 non-null  object
 7   Cross-Street Type               46471 non-null  object
 8   Cross-Street Name               46968 non-null  object
 9   Off-Road Description            6950 non-null   object
 10  Municipality                    7567 non-null   object
 11  Related Non-Motorist            3648 non-null   object
 12  Collision Type                  51191 non-null  object
 13  Weather                         47461 non-null  object
 14  Surface Condition               45611 non-null  object
 15  Light                           50786 non-null  object
 16  Traffic Control                 43716 non-null  object
 17  Driver Substance Abuse          42395 non-null  object
 18  Non-Motorist Substance Abuse    3384 non-null   object
 19  Person ID                       51490 non-null  object
 20  Injury Severity                 51490 non-null  object
 21  Circumstance                    11752 non-null  object
 22  Drivers License State           48962 non-null  object
 23  Vehicle ID                      51490 non-null  object
 24  Vehicle Damage Extent           51093 non-null  object
 25  Vehicle First Impact Location   51268 non-null  object
 26  Vehicle Second Impact Location  51256 non-null  object
 27  Vehicle Body Type               50705 non-null  object
 28  Vehicle Movement                51292 non-null  object
 29  Vehicle Continuing Dir          50361 non-null  object
 30  Vehicle Going Dir               50377 non-null  object
 31  Speed Limit                     51490 non-null  int64
 32  Driverless Vehicle              51490 non-null  object
 33  Parked Vehicle                  51490 non-null  object
 34  Vehicle Year                    51490 non-null  int64
 35  Vehicle Make                    51482 non-null  object
 36  Vehicle Model                   51471 non-null  object
 37  Equipment Problems              40824 non-null  object
 38  Latitude                        51490 non-null  float64
 39  Longitude                       51490 non-null  float64
 40  Location                        51490 non-null  object
 41  Fault                           51490 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(36)
memory usage: 16.5+ MB

In [3]:
train_df['crash_year']=train_df['Crash Date/Time'].dt.year
train_df['crash_month']=train_df['Crash Date/Time'].dt.month
train_df['crash_day']=train_df['Crash Date/Time'].dt.day
train_df['crash_Day_of_week']=train_df['Crash Date/Time'].dt.weekday
train_df['crash_hour']=train_df['Crash Date/Time'].dt.hour

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   51490 non-null  object
 1   Local Case Number               45037 non-null  object
 2   Agency Name                     51490 non-null  object
 3   ACRS Report Type                51490 non-null  object
 4   Crash Date/Time                 51490 non-null  datetime64[ns]
 5   Route Type                      46522 non-null  object
 6   Road Name                       46988 non-null  object
 7   Cross-Street Type               46471 non-null  object
 8   Cross-Street Name               46968 non-null  object
 9   Off-Road Description            6950 non-null   object
 10  Municipality                    7567 non-null   object
 11  Related Non-Motorist            3648 non-null   object
 12  Collision Type                  51191 non-null  object
 13  Weather                         47461 non-null  object
 14  Surface Condition               45611 non-null  object
 15  Light                           50786 non-null  object
 16  Traffic Control                 43716 non-null  object
 17  Driver Substance Abuse          42395 non-null  object
 18  Non-Motorist Substance Abuse    3384 non-null   object
 19  Person ID                       51490 non-null  object
 20  Injury Severity                 51490 non-null  object
 21  Circumstance                    11752 non-null  object
 22  Drivers License State           48962 non-null  object
 23  Vehicle ID                      51490 non-null  object
 24  Vehicle Damage Extent           51093 non-null  object
 25  Vehicle First Impact Location   51268 non-null  object
 26  Vehicle Second Impact Location  51256 non-null  object
 27  Vehicle Body Type               50705 non-null  object
 28  Vehicle Movement                51292 non-null  object
 29  Vehicle Continuing Dir          50361 non-null  object
 30  Vehicle Going Dir               50377 non-null  object
 31  Speed Limit                     51490 non-null  int64
 32  Driverless Vehicle              51490 non-null  object
 33  Parked Vehicle                  51490 non-null  object
 34  Vehicle Year                    51490 non-null  int64
 35  Vehicle Make                    51482 non-null  object
 36  Vehicle Model                   51471 non-null  object
 37  Equipment Problems              40824 non-null  object
 38  Latitude                        51490 non-null  float64
 39  Longitude                       51490 non-null  float64
 40  Location                        51490 non-null  object
 41  Fault                           51490 non-null  int64
 42  crash_year                      51490 non-null  int64
 43  crash_month                     51490 non-null  int64
 44  crash_day                       51490 non-null  int64
 45  crash_Day_of_week               51490 non-null  int64
 46  crash_hour                      51490 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(8), object(36)
memory usage: 18.5+ MB

In [5]:
del train_df['Crash Date/Time']
del train_df['Municipality']
del train_df['Off-Road Description']
del train_df['Non-Motorist Substance Abuse']
del train_df['Circumstance']
del train_df['Related Non-Motorist']
del train_df['Location']
del train_df['Person ID']
del train_df['Vehicle ID']

In [6]:
train_df.describe()

,Speed Limit,Vehicle Year,Latitude,Longitude,Fault,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
count,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,32.895319,1974.545465,39.082783,-77.112688,0.550204,2017.701262,6.583900,15.696660,2.805147,13.350961
std,11.696668,483.279428,0.072062,0.098300,0.497478,1.879660,3.429584,8.740582,1.899605,5.233904
min,0.000000,0.000000,38.008120,-79.486000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,25.000000,2005.000000,39.023974,-77.188926,0.000000,2016.000000,4.000000,8.000000,1.000000,9.000000
50%,35.000000,2010.000000,39.074522,-77.105670,1.000000,2018.000000,7.000000,16.000000,3.000000,14.000000
75%,40.000000,2014.000000,39.139685,-77.040114,1.000000,2019.000000,10.000000,23.000000,4.000000,17.000000
max,70.000000,9999.000000,39.989747,-75.975952,1.000000,2021.000000,12.000000,31.000000,6.000000,23.000000

In [7]:
def IQR(df, feature):
    Q1 = df[feature].quantile(0.25)
    Q3 = df[feature].quantile(0.75)
    IQR = Q3 - Q1
    lower_bridge = Q1 - 1.5 * IQR
    upper_bridge = Q3 + 1.5 * IQR
    df.loc[df[feature]<=lower_bridge, feature] = lower_bridge
    df.loc[df[feature]>=upper_bridge, feature] = upper_bridge

In [8]:
IQR(train_df,'Vehicle Year')

In [9]:
train_df.describe()

,Speed Limit,Vehicle Year,Latitude,Longitude,Fault,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
count,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,32.895319,2008.980365,39.082783,-77.112688,0.550204,2017.701262,6.583900,15.696660,2.805147,13.350961
std,11.696668,7.194275,0.072062,0.098300,0.497478,1.879660,3.429584,8.740582,1.899605,5.233904
min,0.000000,1991.500000,38.008120,-79.486000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,25.000000,2005.000000,39.023974,-77.188926,0.000000,2016.000000,4.000000,8.000000,1.000000,9.000000
50%,35.000000,2010.000000,39.074522,-77.105670,1.000000,2018.000000,7.000000,16.000000,3.000000,14.000000
75%,40.000000,2014.000000,39.139685,-77.040114,1.000000,2019.000000,10.000000,23.000000,4.000000,17.000000
max,70.000000,2027.500000,39.989747,-75.975952,1.000000,2021.000000,12.000000,31.000000,6.000000,23.000000

In [10]:
numerical_feature = [feature for feature in train_df.columns if train_df[feature].dtype != 'object']
categorical_feature = [feature for feature in train_df.columns if train_df[feature].dtype == 'object']
discrete_feature = [feature for feature in numerical_feature if len(train_df[feature].unique()) <= 31]
continuous_feature = [feature for feature in numerical_feature if feature not in discrete_feature]
print("Numerical features are:", numerical_feature)
print("Categorical features are:", categorical_feature)
print("Discrete features are:", discrete_feature)
print("Continuous features are:", continuous_feature)

Numerical features are: ['Speed Limit', 'Vehicle Year', 'Latitude', 'Longitude', 'Fault', 'crash_year', 'crash_month', 'crash_day', 'crash_Day_of_week', 'crash_hour']
Categorical features are: ['Report Number', 'Local Case Number', 'Agency Name', 'ACRS Report Type', 'Route Type', 'Road Name', 'Cross-Street Type', 'Cross-Street Name', 'Collision Type', 'Weather', 'Surface Condition', 'Light', 'Traffic Control', 'Driver Substance Abuse', 'Injury Severity', 'Drivers License State', 'Vehicle Damage Extent', 'Vehicle First Impact Location', 'Vehicle Second Impact Location', 'Vehicle Body Type', 'Vehicle Movement', 'Vehicle Continuing Dir', 'Vehicle Going Dir', 'Driverless Vehicle', 'Parked Vehicle', 'Vehicle Make', 'Vehicle Model', 'Equipment Problems']
Discrete features are: ['Speed Limit', 'Fault', 'crash_year', 'crash_month', 'crash_day', 'crash_Day_of_week', 'crash_hour']
Continuous features are: ['Vehicle Year', 'Latitude', 'Longitude']

In [11]:
for feature in categorical_feature:
    train_df[feature] = train_df[feature].astype('|S')

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 38 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   51490 non-null  |S6
 1   Local Case Number               51490 non-null  |S6
 2   Agency Name                     51490 non-null  |S25
 3   ACRS Report Type                51490 non-null  |S21
 4   Route Type                      51490 non-null  |S20
 5   Road Name                       51490 non-null  |S40
 6   Cross-Street Type               51490 non-null  |S20
 7   Cross-Street Name               51490 non-null  |S40
 8   Collision Type                  51490 non-null  |S28
 9   Weather                         51490 non-null  |S24
 10  Surface Condition               51490 non-null  |S22
 11  Light                           51490 non-null  |S24
 12  Traffic Control                 51490 non-null  |S23
 13  Driver Substance Abuse          51490 non-null  |S26
 14  Injury Severity                 51490 non-null  |S24
 15  Drivers License State           51490 non-null  |S3
 16  Vehicle Damage Extent           51490 non-null  |S11
 17  Vehicle First Impact Location   51490 non-null  |S13
 18  Vehicle Second Impact Location  51490 non-null  |S13
 19  Vehicle Body Type               51490 non-null  |S57
 20  Vehicle Movement                51490 non-null  |S23
 21  Vehicle Continuing Dir          51490 non-null  |S7
 22  Vehicle Going Dir               51490 non-null  |S7
 23  Speed Limit                     51490 non-null  int64
 24  Driverless Vehicle              51490 non-null  |S7
 25  Parked Vehicle                  51490 non-null  |S3
 26  Vehicle Year                    51490 non-null  float64
 27  Vehicle Make                    51490 non-null  |S20
 28  Vehicle Model                   51490 non-null  |S39
 29  Equipment Problems              51490 non-null  |S19
 30  Latitude                        51490 non-null  float64
 31  Longitude                       51490 non-null  float64
 32  Fault                           51490 non-null  int64
 33  crash_year                      51490 non-null  int64
 34  crash_month                     51490 non-null  int64
 35  crash_day                       51490 non-null  int64
 36  crash_Day_of_week               51490 non-null  int64
 37  crash_hour                      51490 non-null  int64
dtypes: bytes104(2), bytes152(1), bytes160(3), bytes168(1), bytes176(1), bytes184(2), bytes192(3), bytes200(1), bytes208(1), bytes224(1), bytes24(2), bytes312(1), bytes320(2), bytes456(1), bytes48(2), bytes56(3), bytes88(1), float64(3), int64(7)
memory usage: 32.0 MB

In [13]:
def labEnc(df, feature):
    from sklearn.preprocessing import LabelEncoder
    labelEncoder = LabelEncoder()
    df[feature] = labelEncoder.fit_transform(list(df[feature].values))

In [14]:
labEnc(train_df,'Report Number')
labEnc(train_df,'Local Case Number')
labEnc(train_df,'Agency Name')
labEnc(train_df,'ACRS Report Type')
labEnc(train_df,'Road Name')
labEnc(train_df,'Route Type')
labEnc(train_df,'Cross-Street Type')
labEnc(train_df,'Cross-Street Name')
labEnc(train_df,'Collision Type')
labEnc(train_df,'Weather')

In [15]:
labEnc(train_df,'Surface Condition')
labEnc(train_df,'Light')
labEnc(train_df,'Traffic Control')
labEnc(train_df,'Driver Substance Abuse')
labEnc(train_df,'Injury Severity')
labEnc(train_df,'Drivers License State')
labEnc(train_df,'Vehicle Damage Extent')
labEnc(train_df,'Vehicle First Impact Location')
labEnc(train_df,'Vehicle Second Impact Location')
labEnc(train_df,'Vehicle Body Type')

In [16]:
labEnc(train_df,'Vehicle Movement')
labEnc(train_df,'Vehicle Continuing Dir')
labEnc(train_df,'Vehicle Going Dir')
labEnc(train_df,'Driverless Vehicle')
labEnc(train_df,'Parked Vehicle')
labEnc(train_df,'Vehicle Make')
labEnc(train_df,'Vehicle Model')
labEnc(train_df,'Equipment Problems')

In [17]:
label= train_df['Fault']
data=train_df.drop(columns=['Fault'])

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(data,label,test_size=0.4)

In [19]:
X_train

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Route Type,Road Name,Cross-Street Type,Cross-Street Name,Collision Type,Weather,...,Vehicle Make,Vehicle Model,Equipment Problems,Latitude,Longitude,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
5950,3180,1214,9,2,0,19,3,2683,13,3,...,808,2891,7,39.011537,-76.978723,2020,9,3,3,12
25007,2584,1429,5,2,3,1514,0,1585,9,5,...,769,2666,4,38.998710,-76.998598,2015,7,13,0,21
13836,1577,1429,5,2,3,1781,0,606,14,9,...,406,2557,4,39.107157,-76.920830,2021,2,22,0,12
50509,2193,513,5,2,3,1726,4,4257,4,2,...,41,2630,4,39.075495,-77.137293,2019,9,18,2,9
7143,677,501,5,2,0,95,0,440,15,2,...,836,1984,8,39.167182,-77.301947,2019,10,9,2,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39158,167,284,5,1,3,760,0,963,4,2,...,183,1154,8,39.025465,-77.046252,2015,3,29,6,1
16986,2653,193,5,2,3,1356,0,2751,16,2,...,557,249,4,39.106062,-77.001647,2019,4,27,5,12
12781,1603,256,5,2,3,2042,0,3558,16,2,...,148,707,4,38.997162,-76.993797,2019,6,8,5,6
49039,1055,1429,5,1,3,1565,4,1482,9,2,...,561,2727,4,39.147628,-77.218428,2021,3,19,4,12
39680,918,350,5,2,0,915,0,2252,7,12,...,183,1154,4,39.290155,-77.205812,2019,7,29,0,14

In [20]:
X_test

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Route Type,Road Name,Cross-Street Type,Cross-Street Name,Collision Type,Weather,...,Vehicle Make,Vehicle Model,Equipment Problems,Latitude,Longitude,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
34208,708,1249,5,2,10,2226,10,4525,7,2,...,375,249,4,39.061358,-77.123477,2020,8,21,4,18
2817,2353,1429,5,2,2,604,9,254,14,2,...,148,249,4,39.150687,-77.218165,2020,12,31,3,22
15646,2900,552,5,2,0,1750,0,3470,16,2,...,735,544,0,39.154763,-77.154128,2018,10,17,2,15
28580,1900,798,3,1,0,1662,7,3559,1,6,...,769,626,4,39.055343,-77.083629,2015,9,29,1,21
35805,78,143,9,2,3,1356,4,50,9,2,...,382,2844,8,38.987389,-76.987901,2016,10,7,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37956,760,1429,5,1,8,424,6,3303,9,2,...,289,1237,8,39.017862,-77.015238,2021,6,7,0,8
46479,2059,1357,5,2,3,583,3,764,9,12,...,371,2270,4,39.056337,-77.193007,2020,1,27,0,16
16442,311,198,5,1,3,1425,0,954,14,2,...,544,544,8,39.024808,-77.125762,2015,5,6,2,9
5105,2105,451,7,1,3,1880,0,3378,15,2,...,49,133,4,39.110753,-76.949862,2016,9,2,4,6
25820,270,311,5,2,0,145,0,109,16,12,...,289,398,8,39.094887,-77.091412,2019,5,3,4,15

In [21]:
Y_train

5950     1
25007    1
13836    1
50509    0
7143     1
        ..
39158    1
16986    1
12781    0
49039    0
39680    0
Name: Fault, Length: 30894, dtype: int64

In [22]:
Y_test

34208    1
2817     0
15646    0
28580    1
35805    0
        ..
37956    0
46479    0
16442    0
5105     1
25820    0
Name: Fault, Length: 20596, dtype: int64

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
RF=RandomForestClassifier(n_estimators=500,criterion='entropy')
RF.fit(X_train,Y_train)
RF.score(X_test,Y_test)

0.836473101573121

In [24]:
from sklearn.ensemble import GradientBoostingClassifier
GB=GradientBoostingClassifier()
GB.fit(X_train,Y_train)
GB.score(X_test,Y_test)

0.8335599145465139

In [25]:
from xgboost import XGBClassifier
XG = XGBClassifier()
XG.fit(X_train, Y_train)
y_pred = XG.predict(X_test)
predictions = [round(value) for value in y_pred]
accuracy = accuracy_score(Y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

C:\Users\Lenovo\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[21:10:56] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 84.21%

In [26]:
from lightgbm import LGBMClassifier
lgbm=LGBMClassifier()
lgbm.fit(X_train,Y_train)
lgbm.score(X_test,Y_test)

0.8502621868323946

In [27]:
test_df=pd.read_csv(r"C:\Users\Lenovo\Downloads\test.csv\test.csv",parse_dates=["Crash Date/Time"])
test_df.info()

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              77235 non-null  int64
 1   Report Number                   77235 non-null  object
 2   Local Case Number               67162 non-null  object
 3   Agency Name                     77235 non-null  object
 4   ACRS Report Type                77235 non-null  object
 5   Crash Date/Time                 77235 non-null  datetime64[ns]
 6   Route Type                      69768 non-null  object
 7   Road Name                       70166 non-null  object
 8   Cross-Street Type               69755 non-null  object
 9   Cross-Street Name               70164 non-null  object
 10  Off-Road Description            7069 non-null   object
 11  Municipality                    8498 non-null   object
 12  Related Non-Motorist            2248 non-null   object
 13  Collision Type                  76990 non-null  object
 14  Weather                         71239 non-null  object
 15  Surface Condition               68182 non-null  object
 16  Light                           76615 non-null  object
 17  Traffic Control                 65185 non-null  object
 18  Driver Substance Abuse          63152 non-null  object
 19  Non-Motorist Substance Abuse    1777 non-null   object
 20  Person ID                       77235 non-null  object
 21  Injury Severity                 77235 non-null  object
 22  Circumstance                    14545 non-null  object
 23  Drivers License State           73315 non-null  object
 24  Vehicle ID                      77235 non-null  object
 25  Vehicle Damage Extent           77099 non-null  object
 26  Vehicle First Impact Location   77154 non-null  object
 27  Vehicle Second Impact Location  77096 non-null  object
 28  Vehicle Body Type               76128 non-null  object
 29  Vehicle Movement                77082 non-null  object
 30  Vehicle Continuing Dir          76034 non-null  object
 31  Vehicle Going Dir               76034 non-null  object
 32  Speed Limit                     77235 non-null  int64
 33  Driverless Vehicle              77235 non-null  object
 34  Parked Vehicle                  77235 non-null  object
 35  Vehicle Year                    77235 non-null  int64
 36  Vehicle Make                    77222 non-null  object
 37  Vehicle Model                   77201 non-null  object
 38  Equipment Problems              60811 non-null  object
 39  Latitude                        77235 non-null  float64
 40  Longitude                       77235 non-null  float64
 41  Location                        77235 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(36)
memory usage: 24.7+ MB

In [28]:
test_df['crash_year']=test_df['Crash Date/Time'].dt.year
test_df['crash_month']=test_df['Crash Date/Time'].dt.month
test_df['crash_day']=test_df['Crash Date/Time'].dt.day
test_df['crash_Day_of_week']=test_df['Crash Date/Time'].dt.weekday
test_df['crash_hour']=test_df['Crash Date/Time'].dt.hour
del test_df['Crash Date/Time']

In [29]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 46 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              77235 non-null  int64
 1   Report Number                   77235 non-null  object
 2   Local Case Number               67162 non-null  object
 3   Agency Name                     77235 non-null  object
 4   ACRS Report Type                77235 non-null  object
 5   Route Type                      69768 non-null  object
 6   Road Name                       70166 non-null  object
 7   Cross-Street Type               69755 non-null  object
 8   Cross-Street Name               70164 non-null  object
 9   Off-Road Description            7069 non-null   object
 10  Municipality                    8498 non-null   object
 11  Related Non-Motorist            2248 non-null   object
 12  Collision Type                  76990 non-null  object
 13  Weather                         71239 non-null  object
 14  Surface Condition               68182 non-null  object
 15  Light                           76615 non-null  object
 16  Traffic Control                 65185 non-null  object
 17  Driver Substance Abuse          63152 non-null  object
 18  Non-Motorist Substance Abuse    1777 non-null   object
 19  Person ID                       77235 non-null  object
 20  Injury Severity                 77235 non-null  object
 21  Circumstance                    14545 non-null  object
 22  Drivers License State           73315 non-null  object
 23  Vehicle ID                      77235 non-null  object
 24  Vehicle Damage Extent           77099 non-null  object
 25  Vehicle First Impact Location   77154 non-null  object
 26  Vehicle Second Impact Location  77096 non-null  object
 27  Vehicle Body Type               76128 non-null  object
 28  Vehicle Movement                77082 non-null  object
 29  Vehicle Continuing Dir          76034 non-null  object
 30  Vehicle Going Dir               76034 non-null  object
 31  Speed Limit                     77235 non-null  int64
 32  Driverless Vehicle              77235 non-null  object
 33  Parked Vehicle                  77235 non-null  object
 34  Vehicle Year                    77235 non-null  int64
 35  Vehicle Make                    77222 non-null  object
 36  Vehicle Model                   77201 non-null  object
 37  Equipment Problems              60811 non-null  object
 38  Latitude                        77235 non-null  float64
 39  Longitude                       77235 non-null  float64
 40  Location                        77235 non-null  object
 41  crash_year                      77235 non-null  int64
 42  crash_month                     77235 non-null  int64
 43  crash_day                       77235 non-null  int64
 44  crash_Day_of_week               77235 non-null  int64
 45  crash_hour                      77235 non-null  int64
dtypes: float64(2), int64(8), object(36)
memory usage: 27.1+ MB

In [30]:
predicted_df = pd.DataFrame(test_df['Id'], columns = ['Id'])
predicted_df

          Id
0          0
1          1
2          2
3          3
4          4
...      ...
77230  77230
77231  77231
77232  77232
77233  77233
77234  77234

[77235 rows x 1 columns]

In [31]:
del test_df['Id']
del test_df['Municipality']
del test_df['Off-Road Description']
del test_df['Non-Motorist Substance Abuse']
del test_df['Circumstance']
del test_df['Related Non-Motorist']
del test_df['Location']
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   77235 non-null  object
 1   Local Case Number               67162 non-null  object
 2   Agency Name                     77235 non-null  object
 3   ACRS Report Type                77235 non-null  object
 4   Route Type                      69768 non-null  object
 5   Road Name                       70166 non-null  object
 6   Cross-Street Type               69755 non-null  object
 7   Cross-Street Name               70164 non-null  object
 8   Collision Type                  76990 non-null  object
 9   Weather                         71239 non-null  object
 10  Surface Condition               68182 non-null  object
 11  Light                           76615 non-null  object
 12  Traffic Control                 65185 non-null  object
 13  Driver Substance Abuse          63152 non-null  object
 14  Person ID                       77235 non-null  object
 15  Injury Severity                 77235 non-null  object
 16  Drivers License State           73315 non-null  object
 17  Vehicle ID                      77235 non-null  object
 18  Vehicle Damage Extent           77099 non-null  object
 19  Vehicle First Impact Location   77154 non-null  object
 20  Vehicle Second Impact Location  77096 non-null  object
 21  Vehicle Body Type               76128 non-null  object
 22  Vehicle Movement                77082 non-null  object
 23  Vehicle Continuing Dir          76034 non-null  object
 24  Vehicle Going Dir               76034 non-null  object
 25  Speed Limit                     77235 non-null  int64
 26  Driverless Vehicle              77235 non-null  object
 27  Parked Vehicle                  77235 non-null  object
 28  Vehicle Year                    77235 non-null  int64
 29  Vehicle Make                    77222 non-null  object
 30  Vehicle Model                   77201 non-null  object
 31  Equipment Problems              60811 non-null  object
 32  Latitude                        77235 non-null  float64
 33  Longitude                       77235 non-null  float64
 34  crash_year                      77235 non-null  int64
 35  crash_month                     77235 non-null  int64
 36  crash_day                       77235 non-null  int64
 37  crash_Day_of_week               77235 non-null  int64
 38  crash_hour                      77235 non-null  int64
dtypes: float64(2), int64(7), object(30)
memory usage: 23.0+ MB

In [32]:
del test_df['Person ID']
del test_df['Vehicle ID']

In [33]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   77235 non-null  object
 1   Local Case Number               67162 non-null  object
 2   Agency Name                     77235 non-null  object
 3   ACRS Report Type                77235 non-null  object
 4   Route Type                      69768 non-null  object
 5   Road Name                       70166 non-null  object
 6   Cross-Street Type               69755 non-null  object
 7   Cross-Street Name               70164 non-null  object
 8   Collision Type                  76990 non-null  object
 9   Weather                         71239 non-null  object
 10  Surface Condition               68182 non-null  object
 11  Light                           76615 non-null  object
 12  Traffic Control                 65185 non-null  object
 13  Driver Substance Abuse          63152 non-null  object
 14  Injury Severity                 77235 non-null  object
 15  Drivers License State           73315 non-null  object
 16  Vehicle Damage Extent           77099 non-null  object
 17  Vehicle First Impact Location   77154 non-null  object
 18  Vehicle Second Impact Location  77096 non-null  object
 19  Vehicle Body Type               76128 non-null  object
 20  Vehicle Movement                77082 non-null  object
 21  Vehicle Continuing Dir          76034 non-null  object
 22  Vehicle Going Dir               76034 non-null  object
 23  Speed Limit                     77235 non-null  int64
 24  Driverless Vehicle              77235 non-null  object
 25  Parked Vehicle                  77235 non-null  object
 26  Vehicle Year                    77235 non-null  int64
 27  Vehicle Make                    77222 non-null  object
 28  Vehicle Model                   77201 non-null  object
 29  Equipment Problems              60811 non-null  object
 30  Latitude                        77235 non-null  float64
 31  Longitude                       77235 non-null  float64
 32  crash_year                      77235 non-null  int64
 33  crash_month                     77235 non-null  int64
 34  crash_day                       77235 non-null  int64
 35  crash_Day_of_week               77235 non-null  int64
 36  crash_hour                      77235 non-null  int64
dtypes: float64(2), int64(7), object(28)
memory usage: 21.8+ MB

In [34]:
test_df.describe()

,Speed Limit,Vehicle Year,Latitude,Longitude,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
count,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000
mean,32.814916,1968.447440,39.082901,-77.112885,2017.690555,6.601968,15.666628,2.808429,13.321396
std,11.050466,329.181285,0.072388,0.100403,1.886526,3.439848,8.762066,1.904964,5.237136
min,0.000000,0.000000,37.720000,-79.486000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,30.000000,2005.000000,39.024002,-77.188906,2016.000000,4.000000,8.000000,1.000000,9.000000
50%,35.000000,2010.000000,39.075026,-77.106380,2018.000000,7.000000,16.000000,3.000000,14.000000
75%,40.000000,2014.000000,39.138637,-77.040377,2019.000000,10.000000,23.000000,4.000000,17.000000
max,70.000000,9999.000000,39.990414,-75.527708,2021.000000,12.000000,31.000000,6.000000,23.000000

In [35]:
IQR(test_df,'Vehicle Year')

In [36]:
test_df.describe()

,Speed Limit,Vehicle Year,Latitude,Longitude,crash_year,crash_month,crash_day,crash_Day_of_week,crash_hour
count,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000,77235.000000
mean,32.814916,2009.261785,39.082901,-77.112885,2017.690555,6.601968,15.666628,2.808429,13.321396
std,11.050466,6.561949,0.072388,0.100403,1.886526,3.439848,8.762066,1.904964,5.237136
min,0.000000,1991.500000,37.720000,-79.486000,2015.000000,1.000000,1.000000,0.000000,0.000000
25%,30.000000,2005.000000,39.024002,-77.188906,2016.000000,4.000000,8.000000,1.000000,9.000000
50%,35.000000,2010.000000,39.075026,-77.106380,2018.000000,7.000000,16.000000,3.000000,14.000000
75%,40.000000,2014.000000,39.138637,-77.040377,2019.000000,10.000000,23.000000,4.000000,17.000000
max,70.000000,2027.500000,39.990414,-75.527708,2021.000000,12.000000,31.000000,6.000000,23.000000

In [37]:
num_fea_test = [feature for feature in test_df.columns if test_df[feature].dtype != 'object']
cat_fea_test = [feature for feature in test_df.columns if test_df[feature].dtype == 'object']
dis_fea_test = [feature for feature in num_fea_test if len(test_df[feature].unique()) <= 31]
cont_fea_test = [feature for feature in num_fea_test if feature not in dis_fea_test]
print("Numerical features are:", num_fea_test)
print("Categorical features are:", cat_fea_test)
print("Discrete features are:", dis_fea_test)
print("Continuous features are:", cont_fea_test)

Numerical features are: ['Speed Limit', 'Vehicle Year', 'Latitude', 'Longitude', 'crash_year', 'crash_month', 'crash_day', 'crash_Day_of_week', 'crash_hour']
Categorical features are: ['Report Number', 'Local Case Number', 'Agency Name', 'ACRS Report Type', 'Route Type', 'Road Name', 'Cross-Street Type', 'Cross-Street Name', 'Collision Type', 'Weather', 'Surface Condition', 'Light', 'Traffic Control', 'Driver Substance Abuse', 'Injury Severity', 'Drivers License State', 'Vehicle Damage Extent', 'Vehicle First Impact Location', 'Vehicle Second Impact Location', 'Vehicle Body Type', 'Vehicle Movement', 'Vehicle Continuing Dir', 'Vehicle Going Dir', 'Driverless Vehicle', 'Parked Vehicle', 'Vehicle Make', 'Vehicle Model', 'Equipment Problems']
Discrete features are: ['Speed Limit', 'crash_year', 'crash_month', 'crash_day', 'crash_Day_of_week', 'crash_hour']
Continuous features are: ['Vehicle Year', 'Latitude', 'Longitude']

In [38]:
for feature in cat_fea_test:
    test_df[feature] = test_df[feature].astype('|S')

In [39]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   77235 non-null  |S6
 1   Local Case Number               77235 non-null  |S7
 2   Agency Name                     77235 non-null  |S25
 3   ACRS Report Type                77235 non-null  |S21
 4   Route Type                      77235 non-null  |S20
 5   Road Name                       77235 non-null  |S43
 6   Cross-Street Type               77235 non-null  |S20
 7   Cross-Street Name               77235 non-null  |S40
 8   Collision Type                  77235 non-null  |S28
 9   Weather                         77235 non-null  |S24
 10  Surface Condition               77235 non-null  |S22
 11  Light                           77235 non-null  |S24
 12  Traffic Control                 77235 non-null  |S23
 13  Driver Substance Abuse          77235 non-null  |S26
 14  Injury Severity                 77235 non-null  |S24
 15  Drivers License State           77235 non-null  |S3
 16  Vehicle Damage Extent           77235 non-null  |S11
 17  Vehicle First Impact Location   77235 non-null  |S13
 18  Vehicle Second Impact Location  77235 non-null  |S13
 19  Vehicle Body Type               77235 non-null  |S57
 20  Vehicle Movement                77235 non-null  |S23
 21  Vehicle Continuing Dir          77235 non-null  |S7
 22  Vehicle Going Dir               77235 non-null  |S7
 23  Speed Limit                     77235 non-null  int64
 24  Driverless Vehicle              77235 non-null  |S7
 25  Parked Vehicle                  77235 non-null  |S3
 26  Vehicle Year                    77235 non-null  float64
 27  Vehicle Make                    77235 non-null  |S20
 28  Vehicle Model                   77235 non-null  |S26
 29  Equipment Problems              77235 non-null  |S19
 30  Latitude                        77235 non-null  float64
 31  Longitude                       77235 non-null  float64
 32  crash_year                      77235 non-null  int64
 33  crash_month                     77235 non-null  int64
 34  crash_day                       77235 non-null  int64
 35  crash_Day_of_week               77235 non-null  int64
 36  crash_hour                      77235 non-null  int64
dtypes: bytes104(2), bytes152(1), bytes160(3), bytes168(1), bytes176(1), bytes184(2), bytes192(3), bytes200(1), bytes208(2), bytes224(1), bytes24(2), bytes320(1), bytes344(1), bytes456(1), bytes48(1), bytes56(4), bytes88(1), float64(3), int64(6)
memory usage: 46.7 MB

In [40]:
labEnc(test_df,'Report Number')
labEnc(test_df,'Local Case Number')
labEnc(test_df,'Agency Name')
labEnc(test_df,'ACRS Report Type')
labEnc(test_df,'Route Type')
labEnc(test_df,'Road Name')
labEnc(test_df,'Cross-Street Type')
labEnc(test_df,'Cross-Street Name')
labEnc(test_df,'Collision Type')
labEnc(test_df,'Weather')
labEnc(test_df,'Surface Condition')
labEnc(test_df,'Light')
labEnc(test_df,'Traffic Control')
labEnc(test_df,'Driver Substance Abuse')
labEnc(test_df,'Injury Severity')
labEnc(test_df,'Drivers License State')
labEnc(test_df,'Vehicle Damage Extent')
labEnc(test_df,'Vehicle First Impact Location')
labEnc(test_df,'Vehicle Second Impact Location')
labEnc(test_df,'Vehicle Body Type')
labEnc(test_df,'Vehicle Movement')
labEnc(test_df,'Vehicle Continuing Dir')
labEnc(test_df,'Vehicle Going Dir')
labEnc(test_df,'Driverless Vehicle')
labEnc(test_df,'Parked Vehicle')
labEnc(test_df,'Vehicle Make')
labEnc(test_df,'Vehicle Model')
labEnc(test_df,'Equipment Problems')

In [41]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   77235 non-null  int64
 1   Local Case Number               77235 non-null  int64
 2   Agency Name                     77235 non-null  int64
 3   ACRS Report Type                77235 non-null  int64
 4   Route Type                      77235 non-null  int64
 5   Road Name                       77235 non-null  int64
 6   Cross-Street Type               77235 non-null  int64
 7   Cross-Street Name               77235 non-null  int64
 8   Collision Type                  77235 non-null  int64
 9   Weather                         77235 non-null  int64
 10  Surface Condition               77235 non-null  int64
 11  Light                           77235 non-null  int64
 12  Traffic Control                 77235 non-null  int64
 13  Driver Substance Abuse          77235 non-null  int64
 14  Injury Severity                 77235 non-null  int64
 15  Drivers License State           77235 non-null  int64
 16  Vehicle Damage Extent           77235 non-null  int64
 17  Vehicle First Impact Location   77235 non-null  int64
 18  Vehicle Second Impact Location  77235 non-null  int64
 19  Vehicle Body Type               77235 non-null  int64
 20  Vehicle Movement                77235 non-null  int64
 21  Vehicle Continuing Dir          77235 non-null  int64
 22  Vehicle Going Dir               77235 non-null  int64
 23  Speed Limit                     77235 non-null  int64
 24  Driverless Vehicle              77235 non-null  int64
 25  Parked Vehicle                  77235 non-null  int64
 26  Vehicle Year                    77235 non-null  float64
 27  Vehicle Make                    77235 non-null  int64
 28  Vehicle Model                   77235 non-null  int64
 29  Equipment Problems              77235 non-null  int64
 30  Latitude                        77235 non-null  float64
 31  Longitude                       77235 non-null  float64
 32  crash_year                      77235 non-null  int64
 33  crash_month                     77235 non-null  int64
 34  crash_day                       77235 non-null  int64
 35  crash_Day_of_week               77235 non-null  int64
 36  crash_hour                      77235 non-null  int64
dtypes: float64(3), int64(34)
memory usage: 21.8 MB

In [51]:
RF1= RandomForestClassifier()
RF1.fit(data,label)
y_pred=RF1.predict(test_df)
predicted_df['Fault'] = y_pred.tolist()
predicted_df.head()

   Id  Fault
0   0      1
1   1      0
2   2      0
3   3      1
4   4      1

In [52]:
predicted_df.to_csv(r'C:\Users\Lenovo\Desktop\FOML\RF_final.csv', index=False)

In [53]:
predicted_df

          Id  Fault
0          0      1
1          1      0
2          2      0
3          3      1
4          4      1
...      ...    ...
77230  77230      0
77231  77231      1
77232  77232      0
77233  77233      1
77234  77234      1

[77235 rows x 2 columns]

In [54]:
del predicted_df['Fault']

In [56]:

GB1 = GradientBoostingClassifier()
GB1.fit(data,label)
y_pred=GB1.predict(test_df)

In [57]:
predicted_df['Fault'] = y_pred.tolist()
predicted_df.head()

   Id  Fault
0   0      1
1   1      0
2   2      1
3   3      1
4   4      1

In [58]:
predicted_df.to_csv(r'C:\Users\Lenovo\Desktop\FOML\GB.final.csv', index=False)

In [59]:
del predicted_df['Fault']

In [60]:

XG1 = XGBClassifier()
XG1.fit(data,label)
y_pred=XG1.predict(test_df)

C:\Users\Lenovo\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[21:20:35] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [61]:
predicted_df['Fault'] = y_pred.tolist()
predicted_df.head()

   Id  Fault
0   0      1
1   1      0
2   2      0
3   3      1
4   4      1

In [62]:
predicted_df.to_csv(r'C:\Users\Lenovo\Desktop\FOML\XGB.final.csv', index=False)

In [63]:
del predicted_df['Fault']

In [64]:
LGB=LGBMClassifier()
LGB.fit(data,label)
y_pred=LGB.predict(test_df)

In [65]:
predicted_df['Fault'] = y_pred.tolist()
predicted_df.head()

   Id  Fault
0   0      1
1   1      0
2   2      0
3   3      1
4   4      1

In [66]:
predicted_df.to_csv(r'C:\Users\Lenovo\Desktop\FOML\LGBM.final.csv.csv', index=False)